html, body {
	font-family: @font-regular, Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.375;
	background-color: @body-bg;
}
a, a:active, a:focus, a:visited {
	outline: none;
	color: @color-blue;
	text-decoration: none;
}
h2 {
	font-size: 24px;
	line-height: 1.08333;
	margin-top: 85px;
	margin-bottom: 100px;
}

// Header
.logo {
	font-size: 24px;
	font-family: @font-medium;
	display: inline-block;
	position: relative;
	padding-right: 5px;
	&:after {
		content: " ";
		display: block;
		background-color: @color-blue;
		width: 107px;
		height: 4px;
		position: absolute;
    	right: -100%;
    	bottom: 15px;
	}
}
.header {
	padding-top: 42px;
}
.app-name, .credits {
	margin-top: 9px;
}
.credits {
	text-decoration: none;
	color: #fff;
	outline: none;
	letter-spacing: 0.88px;
}

// END Header

section {
	// Banner styles
	&.banner {
		height: 100vh;
		min-height: 600px;
		background: url('../img/background-img.jpg') no-repeat 0 0;
		background-size: cover;
		color: #fff;
		a {
			color: #fff;
		}
		h1 {
			font-size: 64px;
			font-weight: 400;
			line-height: 1.09375;
			margin: 0;
		}
		.subtitle {
			font-size: 21px;
			line-height: 1.2857;
			margin-bottom: 10px;
			position: absolute;
			bottom: 0;
			margin-bottom: 120px;
		}
	}
	// END Banner styles
}

// styles for font forms section
.font-source-separator {
	display: inline-block;
	margin: 0 5px;
}
.font-controls {

}
.font-select-wrapper,
.input-fontsize,
.input-lineheight {
	display: inline-block;
}
.font-select-wrapper {
	width: 48%;
	select {
		width: 100%;
		max-width: 150px;
	}
}
.input-fontsize,
.input-lineheight {
	width: 25%;
	input {
		max-width: 67px;
	}
}
// END styles for font forms section






