.dd {
    display: inline-block;
    margin: 0 12px;
}

.dd > label {
    margin-right: 5px;
}

#font-metrics-ph {
    /*border: thin solid green;*/
}

#text-paragraph {
    margin: 30px 0;
    width: 700px;
    height: 150px;
}
 
#metrics-canvas, #text-canvas {
    position: absolute;
    width: 800px;
    height: 250px;
    z-index: 10;
}

#text-canvas {
    /*border: thin solid red;*/
    z-index: 100;
    cursor: col-resize;
    /*cursor: grab;*/
    /*#eA { cursor: -webkit-grab; cursor: -moz-grab; }*/
}

#text-canvas:active {
    cursor: col-resize;
    /*cursor: grabbing;*/
    /*#eA:active { cursor: -webkit-grabbing; cursor:-moz-grabbing; }*/
} 

